body{
    font-family: monospace;
    text-align: center;
    margin: 0px;
    padding: 20px;
    background-color: azure;
}
h1{
    color: black;
}
input[type='text'],
select{
    padding: 10px;
    font-size: 16px;
    margin: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 200px;
}
button{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}
button:hover{
    background-color: darkblue;
}
p{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 20px 0;
}